/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.haiBanner {
  background-image: url("/static/img/main.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 325px;
  width: calc(100vw - 25px);
  margin-left: calc(50% - (100vw - 25px) / 2);
  margin-bottom: 2em;
}

@media screen and (max-width: 996px) {
  .haiBanner {
    height: 150px;
  }
}