.hai_tag {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0.5em 1em 0.5em 0.5em;
  line-height: 1em;

  border-radius: 1em;
  color: var(--hai-universal-label-text);
}
.hai_tag_requires_vrchat {
  background-color: var(--hai-vrchat-label);
}
.hai_tag_requires_resonite {
  background-color: var(--hai-resonite-label);
}
.hai_tag_requires_vrm {
  background-color: var(--hai-vrm-label);
  color: var(--hai-vrm-label-text);
}
.hai_tag_compatible_with_vsfavatar {
  background-color: var(--hai-vsfavatar-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_requires_steamvr {
  background-color: var(--hai-steamvr-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_universal {
  background-color: var(--hai-universal-label);
}