.hai_tag {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0.5em 1em 0.5em 0.5em;
  line-height: 1em;

  border-radius: 1em;
  color: var(--hai-universal-label-text);
}
.hai_tag_requires_vrchat {
  background-color: var(--hai-vrchat-label);
}
.hai_tag_requires_resonite {
  background: linear-gradient(170deg, var(--hai-resonite-label-a) 20%, var(--hai-resonite-label-b) 80%);
  color: var(--hai-resonite-label-text);
}
.hai_tag_requires_basis {
  background-color: var(--hai-basis-label);
}
.hai_tag_requires_chilloutvr {
  background-color: var(--hai-chilloutvr-label);
}
.hai_tag_requires_vrm {
  background-color: var(--hai-vrm-label);
  color: var(--hai-vrm-label-text);
}
.hai_tag_compatible_with_vsfavatar {
  background-color: var(--hai-vsfavatar-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_compatible_with_vnyan {
  background-color: var(--hai-vnyan-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_compatible_with_warudo {
  background-color: var(--hai-warudo-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_compatible_with_beatsaber {
  background: linear-gradient(130deg, var(--hai-beatsaber-label-a) 40%, var(--hai-beatsaber-label-b) 70%, var(--hai-beatsaber-label-c) 100%);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_requires_steamvr {
  background-color: var(--hai-steamvr-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_universal {
  background-color: var(--hai-universal-label);
}
.hai_tag_not_compatible_with_gltf {
  background-color: var(--hai-not-compatible-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_supporter {
  color: var(--ifm-color-primary-lightest);
  background-color: var(--hai-gold);
}
.hai_tag_misc {
  background-color: var(--hai-misc-label);
  padding: 0.5em 1em 0.5em 1em;
}
.hai_tag_hvr {
  background-color: var(--hai-hvr-label);
  padding: 0.5em 1em 0.5em 1em;
}